<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали оценки</title>
</head>
<body>
    <h1>{{ mark }}</h1>
    <p>Учащийся: <a href="{% url 'info' mark.scholar.id %}">{{ mark.scholar }}</a></p>
    <p>Оценка: {{ mark.mark }}</p>
    <p>Предмет: {{ mark.discipline.name }}</p>
    <p>Цена: {{ mark.cost }} </p>

<p><a href="{% url 'mark_update' mark.id %}">Изменить</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'mark_delete' mark.id %}">Удалить</a></p>

</body>
</html>