<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scholar info</title>
</head>
<body>
    <h2>Ученик</h2>
    {% for key, value in scholar.items %}
        <p>{{ key }} : {{ value }}</p>
    {% endfor %}
    <h2>Оценки</h2>
    <table border="1p">
        {% if marks %}
            {% for date, markdict in marks.items %}
                {% if forloop.first %}
                    <tr>
                        <th>Дата</th>
                         {% for key in markdict%}
                        <th>{{ key }}</th>
                         {% endfor %}
                    </tr>
                {% endif%}
                <tr>
                    <td>{{ date }}</td>
                    {% for value in markdict.values %}
                        <td align="center">{{ value|join:", " }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

        {% else %}
        <p>Ненайден триместр с указанной датой</p>
        {% endif %}
    </table>
<p></p>
    <table border="1p">
        <tr>
            <th>Предмет</th><th>Сумма</th>
        </tr>
        {% for key, value in earnings.items %}
            <tr {% if forloop.last%} align="right" {% endif %}>
                <td>{{ key }}</td><td align="right">{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>